@use '../../styles/base/variables' as *;

.hero-section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

.hero-section > * {
  min-width: 0;
}

.hero-section__text-container {
  padding-left: $spacing-app-desktop;

  @media (max-width: $breakpoint-tablet) {
    padding-left: $spacing-app-tablet;
  }
}

.hero-section__title {
  @include font-title;
  margin-bottom: 24px;
  text-wrap-style: pretty;
}

.hero-section__para {
  @include font-para;
  margin-bottom: 32px;
}

.hero-section__buttons {
  display: flex;
  gap: 16px;
}

.hero-section__hero-container {
  position: relative;
}

.decor {
  width: clamp(300px, 70vw, 1000px);
  aspect-ratio: 10/3.5;
  background: $clr-blue;
  border-radius: 99999px;
  position: absolute;
  bottom: 0;
  left: 20%;
  z-index: -1;
}

.hero {
  width: 100%;
  margin-bottom: 3vw;
}
