@use '../abstracts/' as *;
@use '../abstracts/breakpoints' as media;

.faq-section__list-item {
  border-bottom: 1px solid var(--border-color);
  padding-block: 1rem;
  &:first-of-type {
    border-top: 1px solid var(--border-color);
  }

  .list-item__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  .list-item__title {
    font-size: calc(18rem / 16);
    font-weight: $fw-regular;
    color: $clr-dark-grey;
  }

  .list-item__para {
    font-size: calc(16rem / 16);
    line-height: 2.3;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 200ms ease-out, opacity 150ms ease-out;

    @include media.small-under {
      font-size: calc(15rem / 16);
      line-height: 2;
    }
  }

  .list-item__para-opened {
    max-height: 300px !important;
    opacity: 0.75 !important;
  }

  .list-item__icon {
    margin-right: 1.5rem;
    min-width: 20px;

    @include media.small-under {
      margin: 0;
    }

    & svg {
      transition: transform 200ms ease;
    }

    & path {
      stroke: $clr-blue;
    }
  }

  .list-item__icon-opened {
    & svg {
      transform: rotate(180deg);
    }

    & path {
      stroke: $clr-red;
    }
  }
}
