@use '../abstracts/' as *;

.nav-list {
  padding: 0;
  display: flex;
  gap: 48px;
}

.nav-list__list-item {
  list-style-type: none;
  color: inherit;

  &:hover {
    color: $clr-red;
    cursor: pointer;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }
}
