@use '../../styles/base/' as *;

.features-section {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  align-items: center;
  padding-bottom: 400px;
}

.features-section__header {
  max-width: 540px;
  text-align: center;
}

.features-section__header__title {
  @include font-sub-title;
  margin-bottom: 1rem;
}

.features-section__header__para {
  @include font-para;
}

.features-section__stepper {
  width: 50%;
  min-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  justify-items: center;
  border-bottom: 2px solid hsla(231 58 55 / 0.2);

  & > button {
    @include font-feature-nav;
    background: none;
    border: none;
    opacity: 0.75;
  }

  & > button:hover {
    cursor: pointer;
    color: $clr-red;
    opacity: 1;
  }
}

.stepper__option-text {
  padding-bottom: 2rem;
}

.stepper__marker {
  grid-column: 1 / -1;
  height: 3px;
  width: 33%;
  background: $clr-red;
  transition: transform 200ms ease;
}

.active {
  opacity: 1 !important;
}

.features-section__grid {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8vw;
  align-items: center;
  padding-inline: $spacing-app-desktop;

  @media (max-width: $breakpoint-tablet) {
    padding-inline: $spacing-app-tablet;
  }
}

.grid__text {
}

.feature__title {
  @include font-sub-title;
  margin-bottom: 1rem;
  text-wrap: nowrap;
}

.feature__para {
  @include font-para;
}
