// Breakpoints
$breakpoint-mobile: 800px;
$breakpoint-tablet: 850px;

// Colors
$clr-blue: hsl(231, 69%, 60%);
$clr-red: hsl(0, 94%, 66%);
$clr-dark-grey: hsl(229, 31%, 21%);
$clr-very-light-grey: hsl(0, 0%, 97%);
$clr-button-shadow: hsla(231, 69%, 60%, 0.15);
$clr-grey: hsl(229, 8%, 60%);
$clr-white: hsl(0, 0%, 100%);

//Font
$ff-base: 'Rubik', sans;

$fw-semi-bold: 500;
$fw-regular: 400;

//Spacings
$nav-spacing: 48px;

// font mixins
