@use '../styles/base/variables' as *;

.illustration-container {
  position: relative;
}

.illustration__decor {
  width: clamp(300px, 70vw, 5000px);
  height: calc(70vw / 3);
  max-height: 350px;
  background: $clr-blue;
  border-radius: 99999px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.illustration__image {
  width: 100%;
  margin-bottom: 3vw;

  & > img {
    display: block;
    width: 100%;
  }
}
