@use '../styles/base/' as *;

.nav__list {
  padding: 0;
  display: flex;
  gap: 48px;
}

.nav__list-item {
  list-style-type: none;
  color: inherit;

  &:hover {
    color: $clr-red;
    cursor: pointer;
  }

  .nav__link {
    text-decoration: none;
    color: inherit;
  }
}
