@use '../abstracts/' as *;
@use '../abstracts/breakpoints' as media;

.extensions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(48rem / 16);
  padding-bottom: calc(150px + 2 * 40px);

  @include media.large-under {
    gap: 40px;
  }
}

.extensions__text-section {
  text-align: center;
  align-self: center;
}

.extensions__title {
  margin-bottom: 1rem;
}

.extension__para {
  @include paragraph-text;
}

.extensions__card-section {
  display: flex;
  justify-content: center;
  gap: 34px;

  @include media.large-under {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

// Card styles

.card {
  --card-width: 280px;
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  padding-top: 50px;
  box-shadow: 0px 12px 10px 3px $clr-button-shadow;
  border-radius: 15px;

  @for $i from 0 through 2 {
    &:nth-of-type(#{$i + 1}) {
      transform: translateY(#{$i * 40}px);
    }
  }
}

.card-image__wrapper {
  height: 100px;
  aspect-ratio: 1 / 1;
  margin-bottom: 2rem;
}

.card__text-container {
  margin-bottom: 2rem;
}

.card__title {
  line-height: 1.5;
}

.card__para {
  @include paragraph-text;
  font-size: calc(15rem / 16);
  opacity: 0.5;
}

.dotted-line {
  width: var(--card-width);
  margin-bottom: 24px;
}

.card__button {
  @include button-basic($clr-white, $clr-blue);
}
